<h1>Arena</h1>

<h3>New Match</h3>

<% if @match.errors %>
  <% @match.errors.each do |error| %>
    <%= error.message %>
    <% end %>
<% end %>

<%= render 'form', match: @match %>

<%= link_to 'Back', matches_path %>
