<h1>Welcome to the Captain's fighting arena</h1>

<p>Some random text to describe the website. It should be smart and funny.</p>

<h4><%= link_to 'New Match', new_match_path %> <%= link_to 'Arena History', matches_path %></h4>
<h4><%= link_to 'New Fighter', new_fighter_path %> <%= link_to 'Fighters List', fighters_path %></h4>